<!-- IMPORTACION PLANTILLA -->
<section th:insert="componentes/plantilla :: plantilla">

	<title th:fragment="titulo">Ventas</title>

	<div class="container" th:fragment="content">
		<!-- <h1 style="text-align: center;">Listado de ventas</h1> -->
		<div class="container">
			<h1 th:insert="componentes/plantilla :: subtema" th:fragment="tema">Listado
				de ventas</h1>

			<div class="container">
				<hr>
				<table class="table text-center table-hover" id="tablaventas"
					style="width: 100%">
					<thead class="bg-primary" style="color: white;">
						<tr>
							<th>
								<h5>FECHA</h5>
							</th>
							<!-- <th>
                            <h5>NOMBRE</h5>
                        </th> -->
							<th>
								<h5>FACTURA</h5>
							</th>
							<!-- <th>
                            <h5>TIPO VENTA</h5>
                        </th> -->
							<th>
								<h5>TOTAL</h5>
							</th>
							<th>
								<h5>CLIENTE</h5>
							</th>
							<!-- <th>
								<h5>REALIZADA POR</h5>
							</th> -->
							<!-- <th>
								<h5>OPERACIONES</h5>
							</th> -->
						</tr>
					</thead>
					<tbody id="tablaventas"></tbody>
				</table>
			</div>

			<div class="modal mt-5" id="ver">
				<section th:insert="vistas/Ventas/modals :: modalDetalleVenta"></section>
			</div>
			
			<script type="text/javascript" th:src="@{ajax/ventaApi.js}"></script>
			<script type="text/javascript" th:src="@{ajax/funciones.js}"></script>
			
		</div>
	</div>
</section>
