<section th:insert="componentes/plantilla :: plantilla">

	<title th:fragment="titulo">Movimiento</title>

	<div class="container" th:fragment="content">
		<div class="container">
			<h1 th:insert="componentes/plantilla :: subtema" th:fragment="tema">
				<strong> Nuevo Movimiento </strong>
			</h1>
			<div class="form-group row" style="text-align: center;">
				<label for="evento" class="col-sm-2 col-form-label"
					style="text-align: right;"> <strong> Evento:</strong>
				</label>
				<div class="col-sm-4">
					<select name="evento" id="evento" class="form-control text-center">
						<option value="Entrada">Entrada</option>
						<option value="Salida">Salida</option>
					</select>
				</div>
			</div>
			<div class="form-group row" style="text-align: center;">
				<label for="descripcion" class="col-sm-2 col-form-label"
					style="text-align: right;"><strong> Descripcion: </strong></label>
				<div class="col-sm-9">
					<textarea class="form-control" id="descripcion" rows="3" cols="40"
						name="descripcion" autocomplete="off"
						placeholder="Describa las causas del movimiento"></textarea>
				</div>
			</div>
			<hr>
			<h3 class="text-center" style="color: black">
				<strong>Detalle del Movimiento</strong>
			</h3>
			<div class="form-group row">
				<div class="col-sm-3">
					<input type="number" class="form-control" name="cantidad"
						id="cantidad" placeholder="Cantidad" style="text-align: center;"
						min="1">
				</div>
				<div class="col-sm-6">
                    <input type="text" class="form-control text-center" id="producto" readonly="readonly"
                        placeholder="Busca un Producto">
                </div>
                <button type="button" id="buscarProducto" class="btn btn-primary">
                    <i class="fas fa-search-plus"></i> Buscar
                </button>
                <button name="agregarDetalle" id="agregarDetalle" class="btn btn-success ml-1 " type="button">
                    <i class="fas fa-plus"></i> Agregar
                </button>
			</div>

			<table class="table border" style="color: black; text-align: center;">
				<thead class="bg-primary" style="color: white;">
					<tr>
						<th>
							<h5>CANTIDAD</h5>

						</th>
						<th>
							<h5>PRODUCTO</h5>

						</th>
						<th>
							<h5>OPERACION</h5>

						</th>
					</tr>
				</thead>
				<tbody style="color: black; text-align: center;" id="tDetalles">
				</tbody>
			</table>

			<div class="text-center form-group mt-4">
				<button type="submit" id="guardarMovimiento" class="btn btn-success">
					<i class="fas fa-save"></i> Guardar
				</button>
				<a name="cancelar" id="cancelar" class="btn btn-danger" href="#"
					role="button"><i class="fas fa-times"></i> Cancelar</a>
			</div>
		</div>

		<div class="modal mt-5" id="modalProductos">
			<section th:insert="vistas/Inventario/modals :: modalProductos"></section>
		</div>
		
		<script type="text/javascript" th:src="@{/ajax/inventario.js}"></script>
		
	</div>
</section>