<!-- ROL Update and Save -->
<!-- modal-dialog-centered CENTRAL MODAL -->
<div th:fragment="Update" class="modal-dialog ">
   <!-- The Modal -->
   <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header bg-primary">
         <h4 class="modal-title tituloModal" style="color: white;"></h4>
         <button type="button" class="close" data-dismiss="modal" style="color: white;">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
         <form id="formUpdate" onsubmit="actualizar(event);">
            <label> Codigo: </label>
            <div class="input-group mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fas fa-barcode"></i>
                  </span>
               </span>
               <input type="text" id="codigo" class="form-control border-left-0" placeholder="* Campo requerido"
                  required>
            </div>
            <label>   Nombre:   </label>
            <div class="input-group mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fa fa-user"></i>
                  </span>
               </span>
               <input type="hidden" id="id" >
               <input type="text" id="nombre" class="form-control border-left-0" placeholder="* Campo requerido"  required>
            </div>
            <label> Presentacion: </label>
            <div class="input-group mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fas fa-file-powerpoint"></i>
                  </span>
               </span>
               <input type="text" id="presentacion" class="form-control border-left-0" placeholder="* Campo requerido"
                  required>
            </div>
            <label> Categoria: </label>
            <div class="input-group mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fas fa-pencil-alt"></i>
                  </span>
               </span>
               <select id="idCategoria" class="form-control">
                  <option th:each="var : ${listC}" th:value="${var.id}" th:text="${var.categoria}" ></option>
               </select>
            </div>
            <label> Marca: </label>
            <div class="input-group mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fas fa-registered"></i>
                  </span>
               </span>
               <select id="idMarca" class="form-control">
                  <option th:each="var : ${list}" th:value="${var.id}" th:text="${var.marca}" ></option>
               </select>
            </div>
           
            <hr>
            <div class="form-group text-right">
               <button type="submit" class="btn btn-success btnLoad">
                  <i class="fa fa-save"></i> Modificar
               </button>
               <button type="button" class="btn btn-secondary btnCancelar" >
                  <i class="fa fa-times"></i> Cancelar
               </button>
            </div>
            <span class="text-danger msg"></span>
         </form>
      </div>
   </div>
</div>

<!-- Delete -->
<div th:fragment="Delete" class="modal-dialog ">
   <!-- The Modal -->
   <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header bg-danger">
         <h4 class="modal-title" style="color: white;">Eliminar Registro</h4>
         <button type="button" class="close" data-dismiss="modal" style="color: white;">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
         <form>
            <div class="text-center text-danger">Estas a punto de eliminar el registro de <b id="dato"></b>.<br> ¿Estas seguro que deseas hacerlo?</div>
            <hr>
            <div class="form-group text-right">
               <button type="button" class="btn btn-danger" id="btnEliminar">
                  <i class="fas fa-trash-alt"></i> Eliminar
               </button>
               <button type="button" class="btn btn-secondary btnCancelar" >
                  <i class="fa fa-times"></i> Cancelar
               </button>
            </div>
            <span class="text-danger msg"></span>
         </form>
      </div>
   </div>
</div>

<!-- modal-dialog-centered CENTRAL MODAL -->
<div th:fragment="View" class="modal-dialog ">
   <!-- The Modal -->
   <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header bg-primary">
         <h4 class="modal-title tituloModal" style="color: white;"></h4>
         <button type="button" class="close" data-dismiss="modal" style="color: white;">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
            <label> Codigo: </label>
            <div class="input-group mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fas fa-barcode"></i>
                  </span>
               </span>
               <input type="text" id="codigo2" class="form-control border-left-0" readonly>
            </div>
            <label> Nombre: </label>
            <div class="input-group mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fa fa-user"></i>
                  </span>
               </span>
               <input type="hidden" id="id2">
               <input type="text" id="nombre2" class="form-control border-left-0" readonly>
            </div>
            <label> Presentacion: </label>
            <div class="input-group mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fas fa-file-powerpoint"></i>
                  </span>
               </span>
               <input type="text" id="presentacion2" class="form-control border-left-0" readonly>
            </div>
            <label> Categoria: </label>
            <div class="input-group mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fas fa-pencil-alt"></i>
                  </span>
               </span>
               <input type="text" id="categoria2" class="form-control border-left-0" readonly>
            </div>
            <label> Marca: </label>
            <div class="input-group mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fas fa-registered"></i>
                  </span>
               </span>
               <input id="marca2" class="form-control border-left-0" readonly>
            </div>
            <label> Existencia: </label>
            <div class="input-group mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fas fa-sort-numeric-up-alt"></i>
                  </span>
               </span>
               <input type="text" id="existencia2" class="form-control border-left-0" readonly>
            </div>
            <label> Costo Venta: </label>
            <div class="input-group mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fas fa-dollar-sign"></i>
                  </span>
               </span>
               <input type="text" id="precioVenta2" class="form-control border-left-0" readonly>
            </div>
            <label> Costo Compra: </label>
            <div class="input-group mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fas fa-dollar-sign"></i>
                  </span>
               </span>
               <input type="text" id="precioCompra2" class="form-control border-left-0" readonly>
            </div>
            <label> Fecha ingreso: </label>
            <div class="input-group  mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fas fa-calendar-alt"></i>
                  </span>
               </span>
               <input type="text" id="fechaIngreso2" class="form-control border-left-0" readonly>
            </div>
            <label> Fecha modificacion: </label>
            <div class="input-group  mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fas fa-calendar-alt"></i>
                  </span>
               </span>
               <input type="text" id="fechaModificacion2" class="form-control border-left-0" readonly>
            </div>
            <hr>
            <div class="form-group text-right">
               <button type="button" class="btn btn-secondary btnCancelar">
                  <i class="fa fa-times"></i> Cerrar
               </button>
            </div>
            <span class="text-danger msg"></span>
      </div>
   </div>
</div>