<!-- TODAS LAS IMPORTACIONES DE CDN  -->

<!-- CND CSS PARA BOOSTRAP E ICONOS -->

<head th:fragment="assets">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<!-- charset="UTF-8" <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> -->
	<title th:include="this::titulo"></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
	<script th:src="@{/bootstrap/jquery/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/bootstrap/popper.min.js}"></script>
	<script th:src="@{/bootstrap/bootstrap.min.js}"></script>
	<link th:href="@{/bootstrap/font-awesome-5/css/fontawesome-all.min.css}"
		href="../bootstrap/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">

	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script> -->

	<!-- ************************************************************************************************** -->

	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">

	<script src="/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script src="/js/sb-admin-2.min.js" th:src="@{/js/sb-admin-2.min.js}"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendor/dataTables/jquery.dataTables.min.js" ></script>
	<script src="/vendor/dataTables/dataTables.bootstrap4.min.js">
	</script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	

	<script th:src="@{/vendor/bootstrap/js/popper.min.js}" src="/vendor/bootstrap/js/popper.min.js"></script>

	<script>
		//buscador
		$(document).ready(function () {

			$("#search").keyup(function () {
				_this = this;
				// Show only matching TR, hide rest of them
				$.each($(".mytable tbody tr"), function () {
					if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
						$(this).hide();
					else
						$(this).show();
				});
			});

		});
	</script>


</head>