<section th:insert="componentes/plantilla :: plantilla">

	<title th:fragment="titulo">Compras</title>
	<!-- CONTENIDO PAGINA -->
	<div class="container" th:fragment="content">
		<!-- ASIGNANDO DE TEMA CON CLASSES YA DEFINIDAS -->
		<h1 th:insert="componentes/plantilla :: subtema" th:fragment="tema">
			Listado de Compras</h1>

		<div class="container">
		<hr>
			<!-- Tabla donde estaran los datos del registro de compras-->
			<table class="table text-center table-hover" id="tablaCompras"
				style="width: 100%">
				<thead class="bg-primary" style="color: white;">
					<tr> 
						<!--<th>ID</th>-->
						<th><h5>FECHA</h5></th>
						<th><h5>FACTURA</h5></th>
						<th><h5>TIPO COMPRA</h5></th>
						<th><h5>TOTAL</h5></th>
						<th><h5>PROVEEDOR</h5></th>
						<th><h5>INGRESADA POR</h5></th>
						<th>
                            <h5>OPERACIONES</h5>
                        </th>
					</tr>
				</thead>
				<tbody id="tablaCompras">

				</tbody>
			</table>
		</div>
		
		<div class="modal mt-5" id="ver">
                <section th:insert="vistas/Compras/modals :: modalDetalleCompra"></section>
            </div>
            
		 <script type="text/javascript" th:src="@{ajax/funciones.js}"></script>
		 <script type="text/javascript" th:src="@{ajax/compraApi.js}"></script>
	</div>
</section>
