<!-- CONTENIDO -->
<!-- IMPORTACION PLANTILLA -->
<section th:insert="componentes/plantilla :: plantilla">
	<!-- ASIGNACION DEL TITULO DE LA PAGINA -->
	<title th:fragment="titulo">Inventario</title>

	<!-- CONTENIDO PAGINA -->
	<div class="container" th:fragment="content">
		<!-- ASIGNANDO DE TEMA CON CLASSES YA DEFINIDAS -->
		<h1 th:insert="componentes/plantilla :: subtema" th:fragment="tema">
			Listado de Movimientos</h1>

		<div class="container">
			<!-- Button para abrir el modal para nuevo registro-->
			<div class="container">
				<hr>
				<table class="table text-center table-hover text-center" id="tablaConsultas"
					style="width: 100%">
					<thead class="bg-primary" style="color: white;">
						<tr>
							<th>
								<h5>EVENTO</h5>
							</th>
							<th>
								<h5>DESCRIPCION</h5>
							</th>
							<th>
								<h5>FECHA</h5>
							</th>
							<th>
								<h5>OPERACIONES</h5>
							</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>

			<div class="modal mt-5" id="ver">
				<section
					th:insert="vistas/Inventario/modals :: modalDetalleMovimiento"></section>
			</div>

			<script type="text/javascript" th:src="@{ajax/funciones.js}"></script>
			<script type="text/javascript" th:src="@{/ajax/inventario.js}"></script>
		</div>

	</div>
</section>



