<div th:fragment="modalProductos" class="modal-dialog modal-xl">
    <!-- The Modal -->
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title tituloModal">Listado de Productos</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table hover text-center" id="tablaProductos">
                    <thead class="bg-primary" style="color: white;">
                        <tr>
                            <th>
                                CODIGO
                            </th>
                            <th>
                                NOMBRE
                            </th>
                            <th>
                                PRESENTACION
                            </th>
                            <th>
                                MARCA
                            </th>
                            <th>
                                CATEGORIA
                            </th>
                            <th>
                                OPERACION
                            </th>
                        </tr>
                    </thead>
                    <tbody style="color: black;">

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div th:fragment="modalProveedor" class="modal-dialog modal-xl">
    <!-- The Modal -->
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title tituloModal">Listado de Proveedores</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table hover text-center" id="tablaProveedores">
                    <thead class="bg-primary" style="color: white;">
                        <tr>
                            <th>
                                NOMBRE
                            </th>
                            <th>
                                CORREO
                            </th>
                            <th>
                                TELEFONO
                            </th>
                            <th>
                                DUI
                            </th>
                             <th>
                                DIRECCION
                            </th>
                            <th>
                                OPERACION
                            </th>
                        </tr>
                    </thead>
                    <tbody style="color: black;">

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div th:fragment="modalDetalleCompra" class="modal-dialog modal-xl">
    <!-- The Modal -->
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title tituloModal">Detalle de la Compra</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table hover text-center" id="detalleCompra">
                    <thead class="bg-primary" style="color: white;">
                        <tr>
                            <th>
                                CANTIDAD
                            </th>
                            <th>
                                PRODUCTO
                            </th>   
                            <th>
                                PRECIO
                            </th>                                                                       
                        </tr>
                    </thead>
                    <tbody style="color: black;">

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>