<!-- ROL Update and Save -->
<!-- modal-dialog-centered CENTRAL MODAL -->
<div th:fragment="Update" class="modal-dialog ">
   <!-- The Modal -->
   <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header bg-primary">
         <h4 class="modal-title tituloModal" style="color: white;"></h4>
         <button type="button" class="close" data-dismiss="modal" style="color: white;">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
         <form id="formUpdate" onsubmit="actualizar(event);">
            <label>   Marca:   </label>
            <div class="input-group">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fas fa-registered"></i>
                  </span>
               </span>
               <input type="hidden" id="id" >
               <input type="text" id="marca" class="form-control border-left-0" placeholder="* Campo requerido"  required>
            </div>
            <hr>
            <div class="form-group text-right">
               <button type="submit" class="btn btn-success btnLoad">
                  <i class="fa fa-save"></i> Modificar
               </button>
               <button type="button" class="btn btn-secondary btnCancelar" >
                  <i class="fa fa-times"></i> Cancelar
               </button>
            </div>
            <span class="text-danger msg"></span>
         </form>
      </div>
   </div>
</div>

<!-- ROL Delete -->
<div th:fragment="Delete" class="modal-dialog ">
   <!-- The Modal -->
   <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header bg-danger">
         <h4 class="modal-title" style="color: white;">Eliminar Registro</h4>
         <button type="button" class="close" data-dismiss="modal" style="color: white;">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
         <form>
            <div class="text-center text-danger">Estas a punto de eliminar el registro de <b id="dato"></b>.<br> ¿Estas seguro que deseas hacerlo?</div>
            <hr>
            <div class="form-group text-right">
               <button type="button" class="btn btn-danger" id="btnEliminar">
                  <i class="fas fa-trash-alt"></i> Eliminar
               </button>
               <button type="button" class="btn btn-secondary btnCancelar" >
                  <i class="fa fa-times"></i> Cancelar
               </button>
            </div>
            <span class="text-danger msg"></span>
         </form>
      </div>
   </div>
</div>